* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body{
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

main{
  height: auto;
  display: inline-block;
  padding: 5px 40px;
  margin-bottom: 20px;
}

footer{
  background-color: black;
  height: auto;
  padding: 10px 40px;
  color: white;
}

header{
  background-color: black;
  max-width: 1280px;
  padding: 10px;
}

.container {
  max-width: 1280px;
  margin: 0 0;
}

.column {
  float: left;
}

.left {
  width: 40%;
  height: auto;
  border-right: 3px solid rgb(0, 0, 0);
  margin-top: 30px;
}

.right {
  width: 59%;
  height: auto;
  margin-left: 5px;
  padding: 15px 30px;
  margin-top: 20px;
}

.circle {
  background: #000000;
  border: 0.1875em solid #000000;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.nav-link {
  line-height: 10px;
  text-decoration: none;
  color: white;
}

li>a:after {
	display: block;
	width: 0;
	height: 1px;
	background-color: white;
	content: "";
	transition: width 0.4s ease-out;
}

li>a:hover:after,
li>a:focus:after {
	width: 100%;
}

.container-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 5px 20px;
}

.gh-logo{
  margin-right: 5px;
}

.gh{
display: inline-flex;
color: white;
text-decoration: none;
}

.ght{
  margin-left: 5px;
}

.rss{
  padding: 5px 5px 0px;
  background-color: white;
}

.my-photo{
border: 10px solid black;
border-radius: 50%;
}

.section-title-h1{
font-family: 'Bebas Neue';
font-size: 50px;
font-weight: 400;
letter-spacing: 3px;
margin-top: 0;
margin-bottom: 0;
}

.section-profile{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.contacts-item{
    list-style: none;
    display: flex;
    margin: 15px;
}

.contacts{
  margin: 10px;
}

.h2{
  margin-top: 0;
  font-size: 1.2em;
}

.aside{
  padding: 5px;
  display: flex;
  justify-content: center;
}

.section-title{
  font-family:'Bebas Neue';
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 0;
}

.language-name{
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
}

.language-high{
  margin-top: 5px;
}

.contacts-list{
 padding-left: 20px;
}

.projects {
  line-height: 10px;
  text-decoration: none;
  color: black;
}

.projects:after {
	display: block;
	width: 0;
	height: 1px;
	background-color: black;
	content: "";
	transition: width 0.4s ease-out;
}

.projects:hover:after,
.projects:focus:after {
	width: 8.5%;
}

.skills-item{
  margin: 10px;
}

.skills-list{
  padding-left: 10px;
}

h2.section-title.aside{
  margin-top: 20px;
}

.a, .b, .c, .d, .e, .f{
  position:relative;
  left: 467px;
}

.a{
  top: 10px;
}

.b{
 top: 200px;
}

.c{
  top: 310px;
}

.d{
  top: 570px;
}

.e{
  top: 650px;
}

.f{
 top: 950px;
}

@media (max-width: 1279px) {
  .a, .b, .c, .d, .e, .f{
   display: none;
  }
  .left {
    border-right: none;
  }
}

@media (max-width: 577px) {
  left {
    width: 100%;
  }
  
  .right {
    width: 100%;
  }
  
}