* {
    box-sizing: border-box;
  }

:root{
    --main-red: #f53434;
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    padding: 0;
    display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 1000px;
}


.footer{
    background-color: var(--main-red);
    height: 80px;
    position: relative;
    bottom: 870px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .name{
    color: var(--main-red);
    letter-spacing: 5px;
    font-size: 30px;
  font-weight: 700;
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }

  .nav-link {
    padding: 0px 30px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.5s;
  }

  .nav-link:hover{
    color: white;
  }

  .header{
    background-color: var(--main-red);
    height: 80px;
  }

  .developer{
    letter-spacing: 3px;
    font-size: 25px;
  font-weight: 600;
  margin: 0;
  }
  


.phone-icon{
width: 30px;
}

ul{
    list-style: none;
}

main{
margin-left: 150px;
max-width: 490px;
position: relative;
top: 80px;
}

.github-icon{
    width: 50px;
    padding-top: 7px;
}

.year{
    font-weight: 600;
    font-size: 20px;
    height: 20px;
}

.footer-container{
display: flex;
justify-content: space-between;
padding: 10px 60px;
}

.rss-icon{
    width: 110px;
    padding-top: 10px;
}

.my-photo{
    width: 270px;
    padding: 15px;
    border-radius: 150%;
    border: 3px solid var(--main-red);
    box-shadow: 0 0 7px #666;
}

.aside-container{
    float: right;
    position: relative;
   top: -950px;
    right: 190px;
}

.name-education{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 210px;
  position: relative;
  left: 35px;
  margin-bottom: 40px;
}

.school-years, .course-date{
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
}

.school, .course{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -5px;
}

.school-container{
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(109, 109, 109, 0.5);;
    padding-bottom: 10px;
}

.name-skills{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 210px;
  position: relative;
  left: 35px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.skills-list{
list-style: inside;
}

.skills-item{
    color: var(--main-red);
    font-size: 25px;
    margin-left: -40px;
}

.skiils-name{
    color: black;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
}

.name-languages{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 210px;
  position: relative;
  left: 35px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.languages-list{
list-style: inside;
}

.languages-item{
    color: var(--main-red);
    font-size: 25px;
    margin-left: -40px;
}

.languages-name{
    color: black;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
}

.textl{
    font-weight: 500;
}

.phone-icon, .discord-icon, .telegram-icon, .e-mail-icon{
    width: 30px;
    vertical-align: middle;
    }

.number{
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5; 
    margin-left: 15px;
    vertical-align: middle;
}

.contats-item{
    margin-bottom: 25px;
}

.contacts{
    position: relative;
    right: 40px;
    top: 50px;
}

.name-summary{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: 240px;
  position: relative;
top: 85px;
padding-left: 10px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.about{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    top: 70px;  
}

.name-code{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: 240px;
  position: relative;
top: 85px;
padding-left: 10px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.js{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    top: 75px;
}

.name-projects{
    background-color: var(--main-red);
    letter-spacing: 5px;
    font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: 240px;
  position: relative;
top: 85px;
padding-left: 10px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.projects-link{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    top: 75px;
    color: black;
    padding: 20px 20px 20px 0;
}