* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body{
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

main{
  border: 1px solid red;
  height: auto;
  display: inline-block;
  padding: 5px;
}

footer{
  background-color: black;
  height: auto;
  padding: 10px;
  color: white;
}

header{
  background-color: black;
  max-width: 1280px;
  padding: 10px;
}

.container {
  max-width: 1280px;
  margin: 0 0;
}

.column {
  float: left;
  border: 1px solid rgb(255, 0, 174);
}

.left {
  width: 40%;
  height: 300px;
  margin-right: 5px;
}

.right {
  width: 59%;
  height: 100px;
  margin-left: 5px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.nav-link {
  line-height: 10px;
  text-decoration: none;
  color: white;
}

li>a:after {
	display: block;
	width: 0;
	height: 1px;
	background-color: white;
	content: "";
	transition: width 0.4s ease-out;
}

li>a:hover:after,
li>a:focus:after {
	width: 100%;
}

.container-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 5px 20px;
}

.gh-logo{
  margin-right: 5px;
}

.gh{
display: inline-flex;
color: white;
text-decoration: none;
}

.ght{
  margin-left: 5px;
}

.rss{
  padding: 5px 5px 0px;
  background-color: white;
}